@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.copyable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.copyable {
  transition: transform 0.1s ease-in-out;
}

.copyable.copied {
  transform: scale(1.2);
}
