<.header>
  Inbound international wires <%= @column_inbound_international_wires.column_id %>
  <:subtitle>This is a inbound_international_wires record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/column_inbound_international_wires/#{@column_inbound_international_wires.column_id}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit inbound_international_wires</.button>
    </.link>
  </:actions>
</.header>


<.live_component
  module={TheArcaneEnclaveWeb.ColumnInboundInternationalWiresLive.TransactionDetailsComponent}
  id={@column_inbound_international_wires.column_id}
  money_movements={@column_inbound_international_wires.mercury_link.exogenous_money_movement.money_movements}
/>


<.live_component
  module={TheArcaneEnclaveWeb.ColumnInboundInternationalWiresLive.MockCallComponent}
  id="blah"
  messages={@messages}
/>

<%= if @column_inbound_international_wires.wire_data do %>
  <.live_component
    module={TheArcaneEnclaveWeb.ColumnInboundInternationalWiresLive.NestedMapComponent}
    wire_data={@column_inbound_international_wires.wire_data}
    id="nested-wire-data"
  />
<% end %>

<.live_component
  module={TheArcaneEnclaveWeb.ColumnInboundInternationalWiresLive.ReturnButton}
  id={@column_inbound_international_wires.column_id}
/>

<.back navigate={~p"/column_inbound_international_wires"}>Back to column_inbound_international_wires</.back>

<.modal :if={@live_action == :edit} id="inbound_international_wires-modal" show on_cancel={JS.patch(~p"/column_inbound_international_wires/#{@column_inbound_international_wires.column_id}")}>
  <.live_component
    module={TheArcaneEnclaveWeb.ColumnInboundInternationalWiresLive.FormComponent}
    id={@column_inbound_international_wires.column_id}
    title={@page_title}
    action={@live_action}
    inbound_international_wires={@column_inbound_international_wires}
    patch={~p"/column_inbound_international_wires/#{@column_inbound_international_wires.column_id}"}
  />
</.modal>
